@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Poppins:wght@300;400;500;600;700&display=swap');


/***** text styles *****/
.txt-large{
    font-size: 1.5em;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}
.txt{
    font-size: 1.25em;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
}
.txt-light{
    color: #fff;
}
.txt-dark{
    color: #263238;
}
.txt-caption{
    font-size: 3em;
    font-family: 'Lato', sans-serif;
}
.txt-hero{
    font-size: 0.98em;
    font-weight: 500;
    font-family: 'Lato', sans-serif;
    color: #232323;
}
.txt-primary{
    color: #FF5C28;
}
#care-taker .card{
    width: 23rem;
}
 /***** header styles *****/
 header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
header .navbar-nav > li{
    margin-left: 1em;
}
/****** Navbar styles******/
.nav-item .btn_1{
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 10px 40px;
    line-height: 3;
    color: #fff;
    font-size: 18px;
}
.nav-item .btn_1:hover{
    border: 1px solid #FF5C28;
}
.navbar-nav .nav-link{
    color: #232323;
}
.navbar-nav li .nav-link:hover{
    color: #232323;
 }
 .navbar-nav li .nav-link:hover:after{
     opacity: 1;
     width: 100%;
 }
 .navbar-nav li .nav-link:after {
   transition: all 0.3s ease;
     opacity: 0;
     border-top: 3px solid #232323;
     content: '';
     display: block;
     z-index: -1;
     margin: auto;
     width: 0px;
 }
 .navbar-nav li .nav-link:after {
     top: 5px;
 }
 /***** mobile dropdown nav styles *****/
  .show{
      background-color: #FF5C28;
      transition: all .3s ease;
  }
  .show ul li a.nav-link{
      color: #fff;
  }
  .show ul li a.btn_1{
      border: 1px solid #fff;
  }
    /***** hero section styles ****/
 #hero{
    padding-right: 0;
}
#hero .hero-img{
    position: relative;
}
/******************/
#service{
    background: #FF5C28;
}
.card{
    border: none;
    box-shadow:
        0 6.7px 5.3px rgba(0, 0, 0, 0.028),
        0 22.3px 17.9px rgba(0, 0, 0, 0.042),
        0 100px 80px rgba(0, 0, 0, 0.07)
        ;
    border-radius: 5px;
}
 /****** media queries for different breakpoints*******/
@media screen and (max-width:1000px){
    #service .vector-icons{
        width: 70px;
    }
    .txt{
        font-size: 1em;
    }
    .txt-large{
        font-size: 1.2em;
    }
}
@media screen and (max-width:1200px){
    #hero .txt-caption{
        font-size: 2.5em;
    }
    #hero .txt-hero{
        font-size: .9em;
    }
}
@media screen and (max-width:1020px){
    #hero .txt-caption{
        font-size: 2em;
        margin-top: 2em;
    }
    #hero .txt-hero{
        font-size: .7em;
    }
    header .navbar-nav > li {
        margin-left: 0;
    }
}
@media screen and (max-width:860px){
    .nav-item .btn_1{
        padding:5px 10px;
    }
}
@media screen and (max-width:800px){
    #service .vector-icons{
        width: 60px;
    }
    .txt{
        font-size: .8em;
    }
    .txt-large{
        font-size: 1em;
    }
}
@media screen and (max-width:700px){
    #hero .txt-caption{
        font-size: 2em;
    }
    #hero .txt-hero{
        font-size: .5em;
    }
}
@media screen and (max-width:576px){
    #hero .hero-mobile{
        width: 80%;
        margin: 40px auto 0;
    }
    #hero .txt-hero{
        text-align: justify;
        font-size: 1em;
    }
    .menu-bar{
        color: #FF5C28;
    }
}
@media screen and (max-width:560px){
    #care-taker .card{
        width: 32rem;
    }
    #care-taker .txt-large{
        font-size: 2em;
    }
    #care-taker .txt{
        font-size: 1.2em;
    }
    #care-taker .txt-caption{
        font-size: 2.5em;
    }
}
@media screen and (max-width:460px){
    #service .vector-icons{
        width: 45px;
    }
    #service .txt{
        font-size: .6em;
    }
    #service .txt-large{
        font-size: .8em;
    }
}

