/* Header start */
.nav-link {
  font-size: 20px;
  color: black;
}

/*.navbar-nav > li {
  padding-left: 30px;
  padding-right: 30px;
}*/

nav .btn_1 {
  border: 1px solid #ff6633;
  border-radius: 5px;
  padding: 10px 40px;
  line-height: 3;
  color: black;
  font-size: 18px;
}
/* Header end */

/* Footer start */
ul {
  list-style: none;
}

a {
  text-decoration: none !important;
}

.footer a,
.footer p {
  color: #fff;
  line-height: 2;
  font-size: 18px;
}

.footer_padding {
  background-color: #ff6633;
  padding: 80px 15px;
}

.footer li {
  margin-left: -38px !important;
}

/* Small screens */
@media (max-width: 768px) {
  .footer p {
    text-align: left;
    margin-top: -25px;
  }
}
/* Footer end */
