/* Header start */
.nav-link {
  font-size: 20px;
  color: black;
}

.navbar-nav > li {
  padding-left: 30px;
  padding-right: 30px;
}

nav .btn_1 {
  border: 1px solid #ff6633;
  border-radius: 5px;
  padding: 10px 40px;
  line-height: 3;
  color: black;
  font-size: 18px;
}
.fw {
  font-weight: 500;
  color: #ff6633!important;
}
/* Header end */

/* Footer start */
ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none !important;
}

.footer {
  font-family: 'Lato', sans-serif;
}

.footer a,
.footer p {
  color: #fff;
  line-height: 1.5;
  font-size: 16px;
  transition: all 0.3s ease;
}

.footer a:hover {
  color: #333;
}

.footer h4 {
  margin-bottom: 1rem;
}

.footer_padding {
  background-color: #ff6633;
  padding: 50px 0 10px;
}

.footer .social-icons img {
  width: 50px;
}


.footer-list li {
  margin: 1rem 0;
}

.footer-text {
  width: 80%;
}

@media (max-width: 425px) {
  .footer h4 {
    margin: 0;
    margin-bottom: 0.3rem !important;
  }
  .footer-list li {
    margin: 0.5rem 0;
  }
  .copy {
    text-align: left!important;
  }
  .fw-2 {
    font-weight: 500;
    color: #ff6633!important;
  }
  .fw-3 {
    font-weight: 500;
    color: #ff6633!important;
    border: 1px solid #ff6633!important;
  }
}
