.orange{
	color:#ff6633!important;
}

#sign-up {
  color: #ff6633 !important;
}

#sign-up:hover {
  color: #fff !important;
  background-color: #ff6633 !important;
}

header {
  background-color: #fff !important;
}

.navbar-toggler:focus {
  outline: none;
}

header nav .nav-link {
  color: #ff6633 !important;
}

header nav .nav-link:hover {
  border-color: #ff6633;
}


@media (max-width: 992px) {
 .top-left, .delivery {
   display: none;
 }

  #sign-up {
    border: 1px solid #ff6633;
    color: #ff6633 !important;
  }
}

@media (min-width: 768px) {
  .navbar-toggler {
    display: none !important;
  }
  
}